<?xml version="1.0"?>
<launch>

    <node pkg="annotation_client_pkg" type="acc_annotation" name="acc_annotation" output="screen">
        <rosparam file="$(find annotation_client_pkg)/config/acc_annotation.yaml" command="load" />
        <rosparam file="$(find annotation_common)/config/common_parameter.yaml" command="load" />
    </node>

</launch>