<?xml version="1.0"?>
<launch>
    <arg name="sim_or_real" default="real"/>
    <arg name="hdf5_mode" default="None"/>
    
    <group if="$(eval sim_or_real=='sim')">
        <node pkg="annotation_client_pkg" type="acc_annotation" name="acc_annotation" output="screen">
            <rosparam file="$(find annotation_client_pkg)/config/acc/acc_annotation.yaml" command="load" />
            <rosparam file="$(find util)/config/common_parameter.yaml" command="load" />
        </node>
    </group>
    <group if="$(eval sim_or_real=='real')">
        <group if="$(eval hdf5_mode=='None')">
            <node pkg="annotation_client_pkg" type="real_acc_annotation" name="real_acc_annotation" output="screen">
                <rosparam file="$(find annotation_client_pkg)/config/acc/real_acc_annotation.yaml" command="load" ns="" />
                <rosparam file="$(find util)/config/common_parameter.yaml" command="load" />
            </node>
        </group>
        <group if="$(eval hdf5_mode=='hdf5_sensor')">
            <node pkg="annotation_client_pkg" type="real_acc_annotation_from_hdf5_sensor" name="real_acc_annotation_from_hdf5_sensor" output="screen">
                <rosparam file="$(find annotation_client_pkg)/config/acc/real_acc_annotation_from_hdf5_sensor.yaml" command="load" ns="" />
                <rosparam file="$(find util)/config/common_parameter.yaml" command="load" />
            </node>
        </group>
        <group if="$(eval hdf5_mode=='hdf5_acc')">
            <node pkg="annotation_client_pkg" type="real_acc_annotation_from_hdf5_acc" name="rreal_acc_annotation_from_hdf5_acc" output="screen">
                <rosparam file="$(find annotation_client_pkg)/config/acc/real_acc_annotation_from_hdf5_acc.yaml" command="load" ns="" />
                <rosparam file="$(find util)/config/common_parameter.yaml" command="load" />
            </node>
        </group>
    </group>

</launch>