<?xml version="1.0"?>
<launch>

    <node pkg="annotation_client_pkg" type="real_acc_annotation" name="real_acc_annotation" output="screen">
        <rosparam file="$(find annotation_client_pkg)/config/real_acc_annotation.yaml" command="load" ns="" />
        <rosparam file="$(find annotation_common)/config/common_parameter.yaml" command="load" />
    </node>

</launch>