<?xml version="1.0"?>
<launch>
    <arg name="mode" default="random_bbox"/>
    <group if="$(eval mode=='plane')">
        <node pkg="annotation_client_pkg" type="semseg" name="semseg" output="screen">
            <rosparam file="$(find annotation_client_pkg)/config/semantic_segmentation.yaml" command="load" />
            <rosparam file="$(find annotation_common)/config/common_parameter.yaml" command="load" />
        </node>
    </group>
    <group if="$(eval mode=='random_bbox')">
        <node pkg="annotation_client_pkg" type="semseg_randomizer" name="semseg_randomizer" output="screen">
            <rosparam file="$(find annotation_client_pkg)/config/semantic_segmentation.yaml" command="load" />
            <rosparam file="$(find annotation_common)/config/common_parameter.yaml" command="load" />
        </node>
    </group>
</launch>        