<launch>
    <arg name="model_name" default="phoxi_camera"/>
    <arg name="event_mode" default="timer" />
    <arg name="gazebo_ns" default="/gazebo" />
    <arg name="gazebo_gui_ns" default="/gazebo_gui" />
    <group ns="randomizers">
      <node pkg="gazebo_domain_randomizer" name="sky_randomizer" type="sky_randomizer.py" args="-e $(arg event_mode) --gazebo_ns $(arg gazebo_gui_ns)" output="screen" />
    </group>
  </launch>